body{
    background-color: #F5F5F5;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
}

nav{
    background: #F5F5F5;
    box-shadow: none;
}

nav div a{
    color: #92989b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

nav li a:hover{
    color: rgb(113, 89, 193);
    background: none;
}

.nav-wrapper{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
} 

@media only screen and (min-width:1000px){
    nav div a{
        padding: 10px 15px;
    }
}

#inicio{
    background: #6F04D9;
    height: 800px;
}

#ajuda{
    background: #8245BF;
    height: 800px;
}

#servicos{
    background: #6805F2;
    height: 800px;
}

#portfolio{
    background: #05F29B;
    height: 800px;
}

#contato{
    background: #F2CB05;
    height: 800px;
}