body{
    background-color: #F5F5F5;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    /* Start Footer Materialize */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* End Footer Materialize*/
}

main{
    /* Start Footer Materialize */
    flex: 1 0 auto;
    /* End Footer Materialize */
}

nav{
    background: #F5F5F5;
    box-shadow: none;
}

nav div a{
    color: #92989b;

    font-size: 14px;
    font-weight: bold;
}

nav li a:hover{
    color: rgb(113, 89, 193);
    background: none;
}

.nav-wrapper{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
} 

@media only screen and (min-width:1000px){
    nav div a{
        padding: 10px 15px;
        text-transform: uppercase;
    }

    .inicio{
        margin-top: 10em;
    }

    .inicio h1{
        font-size: 48px;
    }

    .inicio p{
        font-size: 18px;
    }
}

@media only screen and (max-width:1000px){
    .inicio{
        margin-top: 2em;
    }

    .text-inicio{
        margin-bottom: 3em;
        text-align: center;
    }

    .text-inicio h1{
        font-size: 24px;
    }

    .inicio p{
        font-size: 14px;
    }

    .inicio img{
        margin-top: 2em;
    }
}

.inicio h1{
    font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    letter-spacing: -0.07em;
    font-weight: normal;
 }
 
 .inicio p{
     line-height: 1.4em;
 }

#btn_mais{
    color: rgb(113, 89, 193);
    box-shadow: none;
    border: solid 1px rgb(113, 89, 193);
    border-radius: .5em;
}

h4{
    color: #92989b;
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 24px;
}

.card-portfolio{
    box-shadow: none;
    background: transparent;
    margin-bottom: 3em;
    text-align: center;
}

.card-portfolio .card-image img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-portfolio .card-image{
    text-align: center;
}

.sobre h4, .tecnologias h4, .servicos h4, .portfolio h4, .contato h4{
    text-align: center;
}

.promo .material-icons{
    margin: 40px;
    color: rgb(113, 89, 193);
    font-size: 7rem;
    display: block;
}

.links{
    margin-top: 3em;
}

.links i{
    color: #999;
    text-align: center;
    font-size: 20px;
}

.links i:hover{
    color: rgb(113, 89, 193);
    background: none;
}

.links a{
    margin: 1em;
}

.promo-caption{
    color: rgb(113, 89, 193);
}

.copy{
    text-align: center;
    font: 12px 'HelveticaNeue_Thin', Arial;
    letter-spacing: 0.05em;
    color: #999;
    border-top: 1px solid #B9C0C4;
    padding-top: 1.5em;
    display: block;
}

.side-nav .user-view{
    padding: 16px 16px 0;
    position: relative;
    margin-bottom: 8px;
}

.side-nav .user-view .background{
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.side-nav .user-view .background > img{
    border: 0;
}

.side-nav .user-view > a{
    height: auto;
    padding: 0;
    text-decoration: none;
}

.side-nav .user-view .circle{
    height: 64px;
    width: 64px;
    display: block;
}

.side-nav .user-view .name{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px; 
    display: block;
}

.side-nav .user-view .email{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px; 
    display: block;
    color: #999;
}

.not-found{
    text-align: center;
}

.card-content-more a{
    color: rgb(87, 184, 148);
}

.card .card-content .card-title{
    line-height: unset;
}

.card-portfolio .card-stacked a{
    color: rgb(113, 89, 193);
}

.chip-repo{
    background-color: #F5F5F5;
    border: 1px solid rgb(113, 89, 193);
}
