body{
    background-color: #F5F5F5;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    /* Start Footer Materialize */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* End Footer Materialize*/
}

main{
    /* Start Footer Materialize */
    flex: 1 0 auto;
    /* End Footer Materialize */
}

nav{
    background: #F5F5F5;
    box-shadow: none;
}

nav div a{
    color: #92989b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

nav li a:hover{
    color: rgb(113, 89, 193);
    background: none;
}

.nav-wrapper{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
} 

@media only screen and (min-width:1000px){
    nav div a{
        padding: 10px 15px;
    }
}

.container{   
    margin-top: 10em;
}

.inicio h1{
    font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    line-height: 1.2em;
    letter-spacing: -0.07em;
    font-weight: normal;
 }
 
 .inicio p{
     font-size: 18px;
     line-height: 1.4em;
 }

#btn_mais{
    color: rgb(113, 89, 193);
    box-shadow: none;
    border: solid 1px rgb(113, 89, 193);
    border-radius: .5em;
}

h4{
    color: #92989b;
}

.card{
    box-shadow: none;
    background: transparent;
    text-align: center;
    width: 200px;
}

