.container ul{
    margin: 0;
    margin-top: 100px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #92989b;
}

@media only screen and (max-width: 1000px){
    .container ul{
        padding: 1px 50px
    }

    .container .card-title{
        font-size: 17px;
    }

    .container .card-content-more p{
        font-size: 14px;
    }
}

.container ul:before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed #7159C1;
}

.container ul li{ /* Não */
    position: relative;
    margin-left: 30px;
}

.container ul li:not(:first-child){
    margin-top: 60px;
}

.container ul li > span{
    width: 2px;
    height: 100%;
    background: #7159C1;
    left: -30px;
    top: 0;
    position: absolute;
}

.container ul li > span:before, .container ul li > span:after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #7159C1;
    position: absolute;
    background: #F5F5F5;
    left: -5px;
    top: 0;
}

.container ul li span:after {
    top: 100%;
}

.container span.number {
    height: 100%;
}

.container span.number span {
    position: absolute;
    font-size: 10px;
    left: -35px;
    font-weight: bold;
}

.container span.number span:first-child {
    top: 0;
}

.container span.number span:last-child {
    top: 100%;
}

/* Geral */
.card-more{
    box-shadow: none;
    background: #F5F5F5;    
}
